* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 12px/1 arial, helvetica, sans-serif;
}
/* General reset */
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img {
	border: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
/* General settings */
.container{
	width: 1024px;
	margin: 0 auto;
}
/* HEADER START */
.header{
	height: 100px;
	background: #373c3f;
	font-size: 16px;
	color: #fff;
	position: relative;
	z-index: 9999;
}
.logo{
	float: left;
	margin-top: 40px;
	font-weight: bold
}
.logo a{
	color: #fff;
}
.header-nav{
	float: left;
	margin-top: 40px;
}
.header-nav li{
	display: inline-block;
	margin: 0 0 0 30px;
}
.header-nav li a{
	color: #fff;
	font-size: 15px;
}
.slicknav_menu {
	display:none;
}
.arrow{
	display: inline-block;
	width: 18px;
	height: 18px;
	border-top: 3px white solid;
	border-right: 3px white solid;
	transform: rotate(45deg);
	position: absolute;

}
.arrow-link{
	top: 45%;
	left: 45%;
}
.arrow-inner-block{
    left: 55%;
    top: 66%;
}


/* HEADER END */
/* MAIN START */
.inner-block{
	background: #16b1c4;
    height: 580px;
    position: relative;
}
.inner-block h3{
	color: white;
	font-size: 50px;
	line-height: 60px;
	padding: 200px 0 0 70px;
}
.inner-block p{
	color: #aad7e0;
	font-size: 35px;
	line-height: 40px;
	padding: 50px 0 0 70px;
}
.img-row{
	overflow: hidden;
}
.img-block{
    float: left;
    line-height: 0;
}
.img-block img{
	width: 100%;
}
.img-block.w70{
	width: 70%;
}
.img-block.w30{
	width: 33.333%;
}
.link{
	float: left;
	width: 30%;
	height: 221px;
	background: violet;
	position: relative;
}
/* MAIN END  */
/* FOOTER START */
.footer-1024{
	height: 680px;
	background: #ebebeb;
}
.footer-1024 h3{
	color: #088ca5;
	font-size: 30px;
	line-height: 44px;
	padding: 50px 0 40px 80px;
}
.footer-text{
	margin: 0px 75px 0 80px;
}

.w50{
    width: 50%;
    float: left;
    padding-right: 27.5px;
}
.w50+.w50{
	padding-right: 0;
	padding-left: 27.5px;
}
.w50 p{
	font-size: 14px;
	line-height: 26px;
}
.w50>p{
	padding-bottom: 45px;
}

/* FOOTER END */
/*MEDIA */
@media (max-width: 1059px){
	.container{
		width: 750px;
	}
	.link{
		height: 162px;
	}
 .arrow-inner-block{
    left: 76%;
    top: 66%;
}
}
@media (max-width: 767px){
    .container{
    	width: 620px;
    }
    .link{
    	height: 130px;
    }
    .img-block.smw100{
    	width:100%;
    }
    .slicknav_menu {
		display:block;
		float: right;
		margin-top: 25px;

}
   .header-nav{
   	  display: none;
   }
   .arrow-inner-block{
      left: 91%;
}
@media (max-width: 639px){
	.inner-block{
		height: 500px;
	}
	.container{
       width: 320px;
	}
	.link{
    	height: 67px;
    }
	.inner-block h3{
		font-size: 25px;
		line-height: 33px;
		padding-left: 20px;

	}
	.inner-block p{
		font-size: 18px;
		line-height: 22px;
		padding-left: 20px;
	}
	.footer-1024{
    	height: 1200px;
    }
    .footer-1024 h3{
       padding: 50px 0 30px 40px;
    }
    .footer-text{
    	margin: 0 35px 0 40px;
    }
	.w50{
		width: 100%;
		padding-right: 0;
    }
    .text-block.w50+ .text-block.w50{
    	padding-left: 0px;
    }
    .arrow-link{
    	width: 10px;
    	height: 10px;
    }

    .arrow-inner-block{
    	top: 64%;
    	left: 81%;
    	width: 13px;
    	height: 13px;
    }
    

}